extends layout 

block content
    div(class="delete-form")
      h1 Do you really want to delete this message 
      form(method='POST' action='')
        div.form-group
          input(type='hidden',name='messageid', required='true', value=messageid )
        button.btn.btn-primary(type='submit',class="link") Delete