extends layout       

block content
  
  if user
    div(class="main")
      if user.isAdmin
        h1 Welcome Back Admin, Posts
      else 
        h1 Posts 
      each message in messages
        div(class="message")
          h2(class="message-title") #{message.messageTitle}
          p(class="message-text") #{message.messageText}
          if user.isMember || user.username == message.user
            p(class="message-post-date") Post By <strong>#{message.user}</strong>, 
            span #{message.date ? format(message.date, {addSuffix: true}) : 'Unknown date'}
          else 
            p(class="message-post-date") Post By <strong>Anonymous</strong>, light years ago
            hr
            p(class="message-note") <strong>Note:</strong> Become a member to know who wrote this message and when
          if user.isAdmin 
            a(href="/"+message._id+"/delete" class="delete") Delete Message      
  else
    div(class="landing") 
      div(class="landing-content")  
        h1 Members<span class="only">Only</span>
        div(class="landing-content-subdiv")
          p An exclusive clubhouse where members can write anonymous posts.
          div(class="landing-content-links") 
            a(href="/sign-up", class="link") Get Started Now
      div(class="landing-image") 
        img(src="/images/3024038.jpg", alt="Exclusive Clubhouse Image")   
