extends layout 

block content 
  div(class="membership")
    h1 Enter the secret
    p Riddle: The poor have me; the rich need me. Eat me and you will die. What am I?
    form(action="/membership", method="post") 
        input(type="text", name="membershipAnswer", placeholder="Enter secret...")
        input(type="hidden" name="userId" value=(user._id))
        button Submit Answer
        if error 
            p(class="danger") #{error}
        