extends layout 

block content 
    div(class="form-container")
        h1(class="form-header") Create New Message
        form(action="/new", method="post" class="new-message") 
            div(class="form-group")
                label(for="messageTitle") Title 
                input(type="text", name="messageTitle" id="messageTitle" placeholder="Title of your message...")
            div(class="form-group")    
                label(for="messageText") Message
                textarea(name="messageText" id="messageText" rows="7" placeholder="Your message...")
            input(type="hidden" name="userId" value=(user._id))    
            button(type="submit") Submit   