extends layout 

block content
  div(class="form-container")
    div(class="form-header")
      h1 Sign Up
      p Sign up for free
    div(class="form")   
      form(action="/sign-up" method="POST")
        input(name="username" placeholder="Enter Username" type="text" required)
        input(name="password" type="password" placeholder="Enter password" required)
        input(name="confirmPassword" type="password" placeholder="Confirm passowrd" required)
        button Sign Up
        if message
          p(class="error") #{message} 
      p Already have an account?<a class="sign-in-link" href="/login">Login</a>    
      

        